
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Hello World</h1>
    <h2><%= text %></h2>
    <a href="/about">About Page</a>
    <a href="/commo">Commo</a>
    <a href="/?lang=es">Spanish</a>
    <a href="/?lang=en">English</a>

      <h1><%= i18n %></h1> 
      <h1><%= __('Hello i18n')%></h1>
      <img src="img/Koala.png" alt="Cat">
  </body>
  </html>